@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="p-4 text-center">


    <a asp-action="AddRequest" class="btn btn-primary">Mesajını iletmek için tıklayın </a>


</div>