@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Diyetisyenlikle Alakalı Web Sitesi</title>
</head>
<body>
    <div id="header">
        <h1>Diyet Planlarımız</h1>
    </div>

    <div class="row">
        <div class="jumbotron" style="border-radius:20px">
            <img src="~/images/kiloalma.jpeg" alt="" style="border-radius:10px" />
            <h1>Kilo Alma</h1>
            <p style=" border-radius:10px; fill-opacity:0.2;">Kilo almanın vermekten zor olduğunu düşünüyorsanız kilo alma diyeti size uygun olabilir. Sağlıklı besinlerin porsiyonlarını artırarak günlük almanız gereken enerjiyi takip etmeniz ve bu sayede kilo almanız kolaylaşır. Kilo alma programında sağlıksız kalori alımı yerine sağlıklı besinlerin doğru miktarlarda diyete eklenmesi ve bu sayede ideal kiloya ulaşılması hedefleniyor.</p>
            <p><a asp-action="Doktor" class="btn btn-success btn-lg"  role="button" style="border-radius:20px">Diyetisyenlerimiz</a></p>

        </div>
        <div class="jumbotron" style="border-radius:20px">
            <img src="~/images/plan-kilo-vermek-modal.jpeg" alt="" style="border-radius:10px" />
            <h1>Kilo Verme</h1>
            <p style=" border-radius:10px; fill-opacity:0.2" ;>Kilonuzu kontrol altına almak ya da daha sağlıklı beslenmek isteyenlerin uygulayabileceği klasik diyet, bireylerin ihtiyacı olan enerjiyi en sağlıklı besin kaynaklarından en dengeli şekilde almasını hedefleyerek planlanıyor. Bu sayede kötü beslenme alışkanlıklarından kurtulmak ve sağlıklı hazır beslenme programıyla hedeflenen ağırlığa ulaşmak mümkün hale geliyor.</p>
            <p><a asp-action="Doktor" class="btn btn-success btn-lg" role="button" style="border-radius:20px">Diyetisyenlerimiz</a></p>
        </div>
        <div class="jumbotron" style="border-radius:20px">
            <img src="~/images/plan-kilo-koruma-modal.jpeg" alt="" style="border-radius:10px" />
            <h1>Kilo Koruma Programı</h1>
            <p style=" border-radius:10px; fill-opacity:0.2;">Kilo koruma programı sayesinde sağlıklı beslenmeyi öğrenebilirsiniz. Almanız gereken enerjiye denk bir planın nasıl olduğunu takip edebilir ve böylece mevcut kilonuzu koruyabilirsiniz . Bununla birlikte kaybettiğiniz kiloları sabitlemek ve geri kazanımı önlemek için koruma diyeti uygulayabilirsiniz.</pstyle="background-color:orange;>
            <p><a asp-action="Doktor" class="btn btn-success btn-lg" role="button" style="border-radius:20px">Diyetisyenlerimiz</a></p>
        </div>
        <div class="jumbotron" style="border-radius:20px">
            <img src="~/images/plan-diyabet-modal-gorsel_1.jpeg" alt="" style="border-radius:10px" />
            <h1>Diyabet</h1>
            <p style=" border-radius:10px; fill-opacity:0.2;">Diyabet diyeti, kan şekerinizi ideal sınırlar içinde tutarak sizlere daha kaliteli bir yaşamın kapılarını açıyor. Dengeye giren kan şekeri, diyabet semptomlarının önüne geçiyor ve var olan semptomların azalmasını sağlıyor. Bununla birlikte kan şekeri dengesizliklerinden kurtularak sağlıklı şekilde kilo vermek kolaylaşıyor.</pstyle="background-color:orange;>
            <p><a asp-action="Doktor" class="btn btn-success btn-lg" role="button" style="border-radius:20px">Diyetisyenlerimiz</a></p>
        </div>
        <div class="jumbotron" style="border-radius:20px">
            <img src="~/images/plan-ketojenik-modal_1.jpeg" alt="" style="border-radius:10px" />
            <h1>Ketojenik Diyet</h1>
            <p style=" border-radius:10px; fill-opacity:0.2;">Vücudun ana enerji kaynağı karbonhidratlardır. Ketojenik diyette karbonhidrat alımı çok düşük miktarlara çekilerek vücut alternatif bir enerji kaynağı üretimine teşvik edilir. Diyetin çok yüksek bir yüzdesini yağlar oluşturur. Ancak sağlıklı yağları dahil etmek ve ketojenik diyeti doğru planlamak oldukça zordur. Bu hazır diyet paketinde sağlığınızı tehlikeye atmayacak, dengeli planlanmış ketojenik diyet planına ulaşabiliyorsunuz.</pstyle="background-color:orange;>
            <p><a asp-action="Doktor" class="btn btn-success btn-lg" role="button" style="border-radius:20px">Diyetisyenlerimiz</a></p>
        </div>



    </div>

    <div id="about">
        <p>Bu web sitesi, sağlıklı ve dengeli bir diyet oluşturmak için yardımcı olmak amacıyla tasarlandı. Hem profesyonel diyetisyenler hem de sağlıklı beslenmeye ilgi duyan bireyler için özel olarak hazırlanmış bilgiler, diyet planları ve diğer özel hizmetler sunuyoruz.</p>
    </div>

    <div id="footer">
        <p>Tüm hakları saklıdır.</p>
    </div>

</body>
</html>


