@model  BitirmeDeneme.Models.Request
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h2>
        TEŞEKÜRLER @Model.Name
    </h2>

    <h4>
      @Model.Email mail adresinize en kısa sürede sizlere dönüş yapılacaktır.
    </h4>
</div>
